src/test/resources/SchemaWithSubstitutionGroup.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/SchemaWithSubstitutionGroup" xmlns:tns="http://www.example.org/SchemaWithSubstitutionGroup" elementFormDefault="qualified">

    <element name="A">
    	<complexType>
    		<sequence>
    			<element ref="tns:B" minOccurs="1" maxOccurs="1" />
    		</sequence>
    	</complexType>
    </element>
    <element name="B" type="string"/>
    <element name="C" type="string" substitutionGroup="tns:B"/>
</schema>